.container {
  display: grid;
  grid-template-columns: 350px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;

  .card {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    width: auto;
  }

  .main {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .one {
    grid-column: 2 ;
    grid-row: 1 ;
  }

  .two {
    grid-column: 3 ;
    grid-row: 1 ;
  }

  .three {
    grid-column: 4 ;
    grid-row: 1 ;
  }

  .description {
    grid-column: 2 / span 3;
    grid-row: 2;
  }
}


