<div class="container text-center">
  <div class="main card">
    <div class="card-content">
      <!-- <img src="images/finn.jpeg" alt="" width="150" class="img-circle"> -->
      <%= image_tag "finn.jpg", width: "150", class: "img-circle" %>
      <h2>Finn Pedersen</h2>
      <p>in France</p>
      <a href="#" class="btn btn-primary btn-lg">Get in touch</a>
    </div>
  </div>
  <div class="one card">
    <div class="card-content">
      <h3>3,536</h3>
      <p>contributions</p>
    </div>
  </div>
  <div class="two card">
    <div class="card-content">
      <h3>758</h3>
      <p>followers</p>
    </div>
  </div>
  <div class="three card">
    <div class="card-content">
      <h3>119</h3>
      <p>repositories</p>
    </div>
  </div>
  <div class="description card">
    <div class="card-content">
      <h3>More about Finn</h3>
      <p class="text-justify">
        I have been coding since I was in High School and bought my first PC.
        My favorite area in software development is localization. That is, translating and adapting software to different cultures.
      </p>
    </div>
  </div>
</div>
